---
hide: true
---
// External
@import 'external/reset';
@import 'external/syntax';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';

div.highlight {
    border-left: 2px solid #164b78;
    padding: 8px 12px;
    background: #fcfcfc;
    margin: 4px 0;
}
