---
layout: default
---
<script src="https://gumroad.com/js/gumroad.js"></script>
<article>

  <header>
    <h1 class="title">{{ page.title }}</h1>
  </header>

  <section class="post-content">
    <p>
        Looking for <a href="/books/#learn-clojurescript"><em>Learn ClojureScript</em></a>?
        I have moved all of the content that was previously hosted on this blog to <a href="https://learn-clojurescript.com/">a dedicated book site</a>.
    </p>

    <p>Go to this lesson: <a href="{{ page.lesson-url }}">{{ page.lesson-name }}</a></p>

    <p style="text-align: center">
        <a href="https://www.learn-clojurescript.com">
            <img src="https://www.learn-clojurescript.com/img/learn-clojurescript-cover.jpg" alt="Cover Image for Learn ClojureScript" />
        </a>
        <br />
        <a class="gumroad-button" href="https://gum.co/learn-cljs" target="_blank">Pre-order Today</a>
    </p>

  </section>
</article>
